body{
	color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
}

.contenedor{
	border: 1px solid #333;
	display: flex;
	align-items: center;
	height: 120px;
	width: 100%;
}

.circulo{
	background-color: teal;
	border-radius: 50%;
	color: #fff;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	position: relative;
	animation-name: rebotar;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@keyframes rebotar {
	0% {
		left: 0;
	}
	100% {
		left: calc(100% - 100px);
	}
}